h3 {
    font-size: 13px;
    margin-bottom: 0px;
}
h4 {
    font-size: 11px;
}
p {
    text-align: center;
    font-size: 9px;
}

.subscribe-button {
    bottom: 15px;
    position: absolute;
}

.mat-card {
    padding-bottom: 55px;
}